@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-padding-top: 78px;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.container {
  @apply px-2
}

.PlayfairDisplay {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}